.markdown > h2 {
    @apply text-3xl font-black mt-16 mb-8;
}

.markdown > h3 {
    @apply text-2xl font-black mt-16 mb-8;
}

.markdown > h4 {
    @apply font-black uppercase mt-16 mb-8;
}

.markdown > h5 {
    @apply text-sm font-black mt-16 mb-8;
}

.markdown > h6 {
    @apply text-xs font-black mt-16 mb-8;
}

.markdown a {
    @apply text-blue-600;
}


.markdown > p {
    @apply mb-8;
}

.markdown > blockquote {
    @apply -ml-8 mb-8;
}

.markdown ul {
    @apply list-disc mb-8;
}

.markdown ol {
    @apply list-decimal mb-8;
}

.gatsby-resp-image-image {
    @apply rounded-lg;
}

.gatsby-resp-image-figcaption {
    @apply text-center;
    @apply text-sm;
    @apply mt-1;
}



.step {
    transition: 0.3s;
}

.step span {
    display: inline;
    background-image: linear-gradient(#4b4b4b, #4b4b4b);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: 0 55%;
    transition: 0.3s;
}

/* === Check mark === */
.check {
    -webkit-appearance: none;
    -moz-appearance: none;
    grid-column: 1;
    display: inline grid;
    justify-self: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #cecece;
    background: #fff;
    box-shadow: 0 0 0 10px #fff;
    transition: 0.3s;
    cursor: pointer;
}

.check:focus {
    box-shadow: 0 0 0 3px hsl(117.5, 69%, 50%);
    border-color: hsl(117.5, 79.2%, 35%);
}

.check::after {
    content: "";
    width: 7px;
    height: 12px;
    border-radius: 0;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    transition: 0.3s;
    transform: translateY(-1px) scale(0.2) rotate(0deg);
    place-self: center;
    opacity: 0;
    transition: 0.3s;
}

/* === Checked state === */
.check:checked {
    background: #19a413;
    border-color: #19a413;
}

.check:checked::after {
    opacity: 1;
    transform: translateY(-0.1rem) scale(1) rotate(45deg);
}

.check:checked ~ .step span {
    color: #777;
    background-size: 100% 2px;
}

/* === Hover states === */
@media (any-hover: hover) and (any-pointer: fine) {
    .check:hover {
        box-shadow: 0 0 0 3px hsl(117.5, 69%, 50%);
        border-color: hsl(117.5, 79.2%, 35%);
    }
}


